.certif-listing-container{
        margin-top:5%;

}
.container h2{
    text-align: center;
}
.listing-container{
        padding-top: 4rem;
        display: flex;
        justify-content:space-between ;
        
}
.certif-listing-card{
        border: 1px solid #aaa;
        width: fit-content; 
        padding-right: 2.8rem;
        padding-top: 3rem; 
        padding-bottom: 2rem; 
        border-radius : 10px;

}
.certif-listing-image{
     width: 100px; 

}
.certif-Listing-details-container{
   padding-top: 1rem;
   padding-left: 2rem;

}

.level{
     font-size: 0.9rem; 
     padding: 0.5rem 0;  

}
.certif-assets{
    font-size: 1rem;
    font-weight: 100;
    color: var(--primary-color-bright);
}
.certif-listing-button{
     display: inline-block;
     background-color: var(--primary-color-bright);
     width: 100%;
     padding: 1rem 0;
     text-align:center ;
     color: white;
     font-family: chivo Mono;
     text-decoration: none;
     margin-top: 2rem;
     transition: 0.2s ease-in;

}
.certif-listing-button:hover{
        background-color: #000;
    
}