.course-listing-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10% ;
}
.listing-container{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.course-listing-card{
    border: 1px solid #aaa;
        width: fit-content; 
        padding-right: 3rem;
        padding-top: 2rem; 
        padding-bottom: 2rem; 
        border-radius : 5px;
        

}
.course-listing-image{
    width: 20px; 
}
