.details-section-container{
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.flex-container{
    display: flex ;
    justify-content: space-between;

}
.certif-img-container, .certif-detail-container{
     width: 50% ;

}
.certif-img-container img{
    height: 350px;
    margin-top: 1.5rem;
    border: 1px solid #dddd;

}

.certif-detail-container h2{
    font-size: 2rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
}

.certif-detail-container p {
    padding: 0.5rem 0;
}

