/*global default styling here*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600;700&family=Oswald:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arimo;
}

:root{
    --primary-color:#e47528; 
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Oswald;
}

h1{
    font-size: 40px;
}

.container{

    width: 90%;
    margin:auto;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.text-primary{ color: var(--primary-color)}

<<<<<<< HEAD
span{
    font-family: Arimo;
}

=======
>>>>>>> 967bb1bb16b8da7eb3252a1e35c93ac445520b95
.button-primary{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.2s ease-in;
    border: none;
    font-family: Arimo;
}

.button-primary:hover{
    background-color: #222;
}

.button-primary{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    box-shadow: 2px 2px 5px #ddd;
    transition: 0.2s ease-in;
    border: none;
    font-family: Arimo;
}

.button-primary:hover{
    background-color: #222;
}